# 0. Imports

In [1]:
import pandas as pd
import numpy as np

# import matplotlib.pyplot as plt
# import seaborn as sns

# from tqdm import tqdm

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

import tensorflow as tf
from tensorflow.keras.layers import Embedding, Dot
from tensorflow.keras.models import Model
# from tensorflow.keras.models import load_model

# 1. Set-up

In [2]:
ratings_df = pd.read_csv('ratings_small.csv')
ratings_df.head(5)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
movies_df = pd.read_csv('movies_metadata.csv')
movies_df.columns
movies_df = movies_df[['id', 'original_title', 'release_date', 'vote_average', 'vote_count']]
movies_df['year'] = pd.to_datetime(movies_df['release_date'], errors='coerce').dt.year
movies_df['vote_average'] = movies_df['vote_average'] / 2
movies_df['vote_importance'] = movies_df['vote_average'] * movies_df['vote_count']
movies_df = movies_df.sort_values('vote_importance', ascending=False)
movies_df = movies_df[['id', 'original_title', 'year', 'vote_average']]
movies_df.reset_index(drop=True, inplace=True)
movies_df

C:\Users\juan carlos\AppData\Local\Temp\ipykernel_8392\2982561343.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df = pd.read_csv('movies_metadata.csv')

,id,original_title,year,vote_average
0,27205,Inception,2010.0,4.05
1,155,The Dark Knight,2008.0,4.15
2,157336,Interstellar,2014.0,4.05
3,24428,The Avengers,2012.0,3.70
4,19995,Avatar,2009.0,3.60
...,...,...,...,...
45461,1997-08-20,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,NaN
45462,122662,マルドゥック・スクランブル 排気,NaN,NaN
45463,2012-09-29,"[{'iso_639_1': 'ja', 'name': '日本語'}]",NaN,NaN
45464,249260,Avalanche Sharks,NaN,NaN
45465,2014-01-01,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,NaN

## 1.99. List of movies in HTML

In [4]:
import pandas as pd

movies_df = pd.read_csv('movies_metadata.csv')
ratings_df = pd.read_csv('ratings_small.csv')

movies_df['id'] = pd.to_numeric(movies_df['id'], errors='coerce').dropna().astype(int)
movies_df = movies_df[['id', 'original_title', 'release_date', 'vote_average', 'vote_count']]
movies_df['year'] = pd.to_datetime(movies_df['release_date'], errors='coerce').dt.year
movies_df['vote_average'] = movies_df['vote_average'] / 2
movies_df['vote_importance'] = movies_df['vote_average'] * movies_df['vote_count']
movies_df = movies_df.sort_values('vote_importance', ascending=False)
movies_df = movies_df[['id', 'original_title', 'year', 'vote_average']]
movies_df.reset_index(drop=True, inplace=True)


top_100_movies = movies_df[movies_df['id'].isin(ratings_df['movieId'])].head(200)

# Format the output for use in the HTML file
formatted_movies = top_100_movies[['id', 'original_title', 'year']].to_dict(orient='records')

# Print the formatted output
for movie in formatted_movies:
    print(f"{{ id: {movie['id']}, title: \"{movie['original_title']}\", year: {int(movie['year'])} }},")

{ id: 155.0, title: "The Dark Knight", year: 2008 },
{ id: 550.0, title: "Fight Club", year: 1999 },
{ id: 680.0, title: "Pulp Fiction", year: 1994 },
{ id: 603.0, title: "The Matrix", year: 1999 },
{ id: 278.0, title: "The Shawshank Redemption", year: 1994 },
{ id: 13.0, title: "Forrest Gump", year: 1994 },
{ id: 122.0, title: "The Lord of the Rings: The Return of the King", year: 2003 },
{ id: 1726.0, title: "Iron Man", year: 2008 },
{ id: 121.0, title: "The Lord of the Rings: The Two Towers", year: 2002 },
{ id: 597.0, title: "Titanic", year: 1997 },
{ id: 272.0, title: "Batman Begins", year: 2005 },
{ id: 11.0, title: "Star Wars", year: 1977 },
{ id: 22.0, title: "Pirates of the Caribbean: The Curse of the Black Pearl", year: 2003 },
{ id: 671.0, title: "Harry Potter and the Philosopher's Stone", year: 2001 },
{ id: 238.0, title: "The Godfather", year: 1972 },
{ id: 105.0, title: "Back to the Future", year: 1985 },
{ id: 1891.0, title: "The Empire Strikes Back", year: 1980 },
{ id: 12.0, title: "Finding Nemo", year: 2003 },
{ id: 1771.0, title: "Captain America: The First Avenger", year: 2011 },
{ id: 673.0, title: "Harry Potter and the Prisoner of Azkaban", year: 2004 },
{ id: 585.0, title: "Monsters, Inc.", year: 2001 },
{ id: 98.0, title: "Gladiator", year: 2000 },
{ id: 674.0, title: "Harry Potter and the Goblet of Fire", year: 2005 },
{ id: 767.0, title: "Harry Potter and the Half-Blood Prince", year: 2009 },
{ id: 24.0, title: "Kill Bill: Vol. 1", year: 2003 },
{ id: 329.0, title: "Jurassic Park", year: 1993 },
{ id: 58.0, title: "Pirates of the Caribbean: Dead Man's Chest", year: 2006 },
{ id: 1892.0, title: "Return of the Jedi", year: 1983 },
{ id: 274.0, title: "The Silence of the Lambs", year: 1991 },
{ id: 424.0, title: "Schindler's List", year: 1993 },
{ id: 1124.0, title: "The Prestige", year: 2006 },
{ id: 348.0, title: "Alien", year: 1979 },
{ id: 1271.0, title: "300", year: 2006 },
{ id: 101.0, title: "Léon", year: 1994 },
{ id: 1422.0, title: "The Departed", year: 2006 },
{ id: 497.0, title: "The Green Mile", year: 1999 },
{ id: 2062.0, title: "Ratatouille", year: 2007 },
{ id: 77.0, title: "Memento", year: 2000 },
{ id: 129.0, title: "千と千尋の神隠し", year: 2001 },
{ id: 280.0, title: "Terminator 2: Judgment Day", year: 1991 },
{ id: 1865.0, title: "Pirates of the Caribbean: On Stranger Tides", year: 2011 },
{ id: 285.0, title: "Pirates of the Caribbean: At World's End", year: 2007 },
{ id: 694.0, title: "The Shining", year: 1980 },
{ id: 393.0, title: "Kill Bill: Vol. 2", year: 2004 },
{ id: 218.0, title: "The Terminator", year: 1984 },
{ id: 500.0, title: "Reservoir Dogs", year: 1992 },
{ id: 808.0, title: "Shrek", year: 2001 },
{ id: 85.0, title: "Raiders of the Lost Ark", year: 1981 },
{ id: 78.0, title: "Blade Runner", year: 1982 },
{ id: 637.0, title: "La vita è bella", year: 1997 },
{ id: 640.0, title: "Catch Me If You Can", year: 2002 },
{ id: 562.0, title: "Die Hard", year: 1988 },
{ id: 1895.0, title: "Star Wars: Episode III - Revenge of the Sith", year: 2005 },
{ id: 558.0, title: "Spider-Man 2", year: 2004 },
{ id: 38.0, title: "Eternal Sunshine of the Spotless Mind", year: 2004 },
{ id: 165.0, title: "Back to the Future Part II", year: 1989 },
{ id: 18.0, title: "The Fifth Element", year: 1997 },
{ id: 240.0, title: "The Godfather: Part II", year: 1974 },
{ id: 425.0, title: "Ice Age", year: 2002 },
{ id: 162.0, title: "Edward Scissorhands", year: 1990 },
{ id: 161.0, title: "Ocean's Eleven", year: 2001 },
{ id: 141.0, title: "Donnie Darko", year: 2001 },
{ id: 185.0, title: "A Clockwork Orange", year: 1971 },
{ id: 14.0, title: "American Beauty", year: 1999 },
{ id: 1858.0, title: "Transformers", year: 2007 },
{ id: 2501.0, title: "The Bourne Identity", year: 2002 },
{ id: 194.0, title: "Le fabuleux destin d'Amélie Poulain", year: 2001 },
{ id: 920.0, title: "Cars", year: 2006 },
{ id: 769.0, title: "GoodFellas", year: 1990 },
{ id: 1894.0, title: "Star Wars: Episode II - Attack of the Clones", year: 2002 },
{ id: 2048.0, title: "I, Robot", year: 2004 },
{ id: 73.0, title: "American History X", year: 1998 },
{ id: 2080.0, title: "X-Men Origins: Wolverine", year: 2009 },
{ id: 679.0, title: "Aliens", year: 1986 },
{ id: 118.0, title: "Charlie and the Chocolate Factory", year: 2005 },
{ id: 510.0, title: "One Flew Over the Cuckoo's Nest", year: 1975 },
{ id: 745.0, title: "The Sixth Sense", year: 1999 },
{ id: 5915.0, title: "Into the Wild", year: 2007 },
{ id: 89.0, title: "Indiana Jones and the Last Crusade", year: 1989 },
{ id: 62.0, title: "2001: A Space Odyssey", year: 1968 },
{ id: 111.0, title: "Scarface", year: 1983 },
{ id: 453.0, title: "A Beautiful Mind", year: 2001 },
{ id: 6977.0, title: "No Country for Old Men", year: 2007 },
{ id: 1417.0, title: "El laberinto del fauno", year: 2006 },
{ id: 49530.0, title: "In Time", year: 2011 },
{ id: 489.0, title: "Good Will Hunting", year: 1997 },
{ id: 107.0, title: "Snatch", year: 2000 },
{ id: 207.0, title: "Dead Poets Society", year: 1989 },
{ id: 350.0, title: "The Devil Wears Prada", year: 2006 },
{ id: 953.0, title: "Madagascar", year: 2005 },
{ id: 559.0, title: "Spider-Man 3", year: 2007 },
{ id: 8966.0, title: "Twilight", year: 2008 },
{ id: 627.0, title: "Trainspotting", year: 1996 },
{ id: 103.0, title: "Taxi Driver", year: 1976 },
{ id: 196.0, title: "Back to the Future Part III", year: 1990 },
{ id: 2502.0, title: "The Bourne Supremacy", year: 2004 },
{ id: 809.0, title: "Shrek 2", year: 2004 },
{ id: 600.0, title: "Full Metal Jacket", year: 1987 },
{ id: 605.0, title: "The Matrix Revolutions", year: 2003 },
{ id: 87.0, title: "Indiana Jones and the Temple of Doom", year: 1984 },
{ id: 539.0, title: "Psycho", year: 1960 },
{ id: 187.0, title: "Sin City", year: 2005 },
{ id: 787.0, title: "Mr. & Mrs. Smith", year: 2005 },
{ id: 950.0, title: "Ice Age: The Meltdown", year: 2006 },
{ id: 608.0, title: "Men in Black II", year: 2002 },
{ id: 70.0, title: "Million Dollar Baby", year: 2004 },
{ id: 429.0, title: "Il buono, il brutto, il cattivo", year: 1966 },
{ id: 8373.0, title: "Transformers: Revenge of the Fallen", year: 2009 },
{ id: 180.0, title: "Minority Report", year: 2002 },
{ id: 1593.0, title: "Night at the Museum", year: 2006 },
{ id: 747.0, title: "Shaun of the Dead", year: 2004 },
{ id: 564.0, title: "The Mummy", year: 1999 },
{ id: 63.0, title: "Twelve Monkeys", year: 1995 },
{ id: 954.0, title: "Mission: Impossible", year: 1996 },
{ id: 620.0, title: "Ghostbusters", year: 1984 },
{ id: 389.0, title: "12 Angry Men", year: 1957 },
{ id: 137.0, title: "Groundhog Day", year: 1993 },
{ id: 1372.0, title: "Blood Diamond", year: 2006 },
{ id: 2108.0, title: "The Breakfast Club", year: 1985 },
{ id: 28.0, title: "Apocalypse Now", year: 1979 },
{ id: 277.0, title: "Underworld", year: 2003 },
{ id: 854.0, title: "The Mask", year: 1994 },
{ id: 4638.0, title: "Hot Fuzz", year: 2007 },
{ id: 95.0, title: "Armageddon", year: 1998 },
{ id: 176.0, title: "Saw", year: 2004 },
{ id: 35.0, title: "The Simpsons Movie", year: 2007 },
{ id: 275.0, title: "Fargo", year: 1996 },
{ id: 670.0, title: "올드보이", year: 2003 },
{ id: 254.0, title: "King Kong", year: 2005 },
{ id: 587.0, title: "Big Fish", year: 2003 },
{ id: 330.0, title: "The Lost World: Jurassic Park", year: 1997 },
{ id: 423.0, title: "The Pianist", year: 2002 },
{ id: 1359.0, title: "American Psycho", year: 2000 },
{ id: 1954.0, title: "The Butterfly Effect", year: 2004 },
{ id: 435.0, title: "The Day After Tomorrow", year: 2004 },
{ id: 1949.0, title: "Zodiac", year: 2007 },
{ id: 2105.0, title: "American Pie", year: 1999 },
{ id: 8363.0, title: "Superbad", year: 2007 },
{ id: 268.0, title: "Batman", year: 1989 },
{ id: 51540.0, title: "Horrible Bosses", year: 2011 },
{ id: 74.0, title: "War of the Worlds", year: 2005 },
{ id: 1487.0, title: "Hellboy", year: 2004 },
{ id: 534.0, title: "Terminator Salvation", year: 2009 },
{ id: 217.0, title: "Indiana Jones and the Kingdom of the Crystal Skull", year: 2008 },
{ id: 949.0, title: "Heat", year: 1995 },
{ id: 1572.0, title: "Die Hard: With a Vengeance", year: 1995 },
{ id: 1979.0, title: "4: Rise of the Silver Surfer", year: 2007 },
{ id: 1824.0, title: "50 First Dates", year: 2004 },
{ id: 616.0, title: "The Last Samurai", year: 2003 },
{ id: 153.0, title: "Lost in Translation", year: 2003 },
{ id: 810.0, title: "Shrek the Third", year: 2007 },
{ id: 3933.0, title: "Corpse Bride", year: 2005 },
{ id: 594.0, title: "The Terminal", year: 2004 },
{ id: 163.0, title: "Ocean's Twelve", year: 2004 },
{ id: 782.0, title: "Gattaca", year: 1997 },
{ id: 8392.0, title: "となりのトトロ", year: 1988 },
{ id: 1366.0, title: "Rocky", year: 1976 },
{ id: 408.0, title: "Snow White and the Seven Dwarfs", year: 1937 },
{ id: 762.0, title: "Monty Python and the Holy Grail", year: 1975 },
{ id: 1571.0, title: "Live Free or Die Hard", year: 2007 },
{ id: 1734.0, title: "The Mummy Returns", year: 2001 },
{ id: 508.0, title: "Love Actually", year: 2003 },
{ id: 956.0, title: "Mission: Impossible III", year: 2006 },
{ id: 380.0, title: "Rain Man", year: 1988 },
{ id: 4951.0, title: "10 Things I Hate About You", year: 1999 },
{ id: 170.0, title: "28 Days Later", year: 2002 },
{ id: 296.0, title: "Terminator 3: Rise of the Machines", year: 2003 },
{ id: 1995.0, title: "Lara Croft: Tomb Raider", year: 2001 },
{ id: 1091.0, title: "The Thing", year: 1982 },
{ id: 1573.0, title: "Die Hard 2", year: 1990 },
{ id: 114.0, title: "Pretty Woman", year: 1990 },
{ id: 1933.0, title: "The Others", year: 2001 },
{ id: 2059.0, title: "National Treasure", year: 2004 },
{ id: 567.0, title: "Rear Window", year: 1954 },
{ id: 100.0, title: "Lock, Stock and Two Smoking Barrels", year: 1998 },
{ id: 6957.0, title: "The 40 Year Old Virgin", year: 2005 },
{ id: 630.0, title: "The Wizard of Oz", year: 1939 },
{ id: 861.0, title: "Total Recall", year: 1990 },
{ id: 2668.0, title: "Sleepy Hollow", year: 1999 },
{ id: 235.0, title: "Stand by Me", year: 1986 },
{ id: 388.0, title: "Inside Man", year: 2006 },
{ id: 2034.0, title: "Training Day", year: 2001 },
{ id: 2787.0, title: "Pitch Black", year: 2000 },
{ id: 561.0, title: "Constantine", year: 2005 },
{ id: 49013.0, title: "Cars 2", year: 2011 },
{ id: 331.0, title: "Jurassic Park III", year: 2001 },
{ id: 568.0, title: "Apollo 13", year: 1995 },
{ id: 1635.0, title: "The Island", year: 2005 },
{ id: 935.0, title: "Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb", year: 1964 },
{ id: 621.0, title: "Grease", year: 1978 },
{ id: 1018.0, title: "Mulholland Drive", year: 2001 },
{ id: 2649.0, title: "The Game", year: 1997 },
{ id: 955.0, title: "Mission: Impossible II", year: 2000 },
{ id: 289.0, title: "Casablanca", year: 1942 },
{ id: 2493.0, title: "The Princess Bride", year: 1987 },
{ id: 184.0, title: "Jackie Brown", year: 1997 },
{ id: 1597.0, title: "Meet the Parents", year: 2000 },
{ id: 788.0, title: "Mrs. Doubtfire", year: 1993 },
{ id: 65.0, title: "8 Mile", year: 2002 },
{ id: 4108.0, title: "The Transporter", year: 2002 },

C:\Users\juan carlos\AppData\Local\Temp\ipykernel_15452\3873840663.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df = pd.read_csv('movies_metadata.csv')

# 2. Algo

In [4]:
train_df, test_df = train_test_split(ratings_df, test_size=0.2, random_state=42)

In [5]:
num_users = len(ratings_df['userId'].unique())
num_movies = len(ratings_df['movieId'].unique())
embedding_size = 50

# Create mappings from userId and movieId to a continuous range of indices
user_id_mapping = {id: idx for idx, id in enumerate(ratings_df['userId'].unique())}
movie_id_mapping = {id: idx for idx, id in enumerate(ratings_df['movieId'].unique())}

# Map the userId and movieId in the ratings DataFrame to the new indices
ratings_df['userId'] = ratings_df['userId'].map(user_id_mapping)
ratings_df['movieId'] = ratings_df['movieId'].map(movie_id_mapping)
train_df['userId'] = train_df['userId'].map(user_id_mapping)
train_df['movieId'] = train_df['movieId'].map(movie_id_mapping)
test_df['userId'] = test_df['userId'].map(user_id_mapping)
test_df['movieId'] = test_df['movieId'].map(movie_id_mapping)

# Define the RecommenderNet class, inheriting from tf.keras.Model
class RecommenderNet(Model):
    def __init__(self, num_users, num_movies, embedding_size, **kwargs):
        super(RecommenderNet, self).__init__(**kwargs)
        self.num_users = num_users
        self.num_movies = num_movies
        self.embedding_size = embedding_size
        # Create embedding layers for users and movies
        self.user_embedding = Embedding(num_users, embedding_size, embeddings_initializer='he_normal', embeddings_regularizer=tf.keras.regularizers.l2(1e-6))
        self.movie_embedding = Embedding(num_movies, embedding_size, embeddings_initializer='he_normal', embeddings_regularizer=tf.keras.regularizers.l2(1e-6))
        # Define a dot product layer to compute the similarity between user and movie embeddings
        self.dot = Dot(axes=1)
    
    def call(self, inputs):
        # Get the embeddings for the users and movies
        user_vector = self.user_embedding(inputs[0])
        movie_vector = self.movie_embedding(inputs[1])
        # Compute the dot product of the user and movie embeddings
        dot_user_movie = self.dot([user_vector, movie_vector])
        return dot_user_movie
    
    def get_config(self):
        config = super().get_config()
        config.update({
            'num_users': self.num_users,
            'num_movies': self.num_movies,
            'embedding_size': self.embedding_size
        })
        return config
    
    @classmethod
    def from_config(cls, config):
        return cls(**config)
    
# model = RecommenderNet(num_users, num_movies, embedding_size)
model = RecommenderNet(num_users, num_movies, embedding_size)
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.001), loss='mean_squared_error')

train_user_ids = train_df['userId'].values
train_movie_ids = train_df['movieId'].values
train_ratings = train_df['rating'].values

model.fit([train_user_ids, train_movie_ids], train_ratings, batch_size=64, epochs=5, verbose=1)

Epoch 1/5
1251/1251 ━━━━━━━━━━━━━━━━━━━━ 12s 9ms/step - loss: 12.9292
Epoch 2/5
1251/1251 ━━━━━━━━━━━━━━━━━━━━ 11s 9ms/step - loss: 2.8543
Epoch 3/5
1251/1251 ━━━━━━━━━━━━━━━━━━━━ 11s 9ms/step - loss: 1.2991
Epoch 4/5
1251/1251 ━━━━━━━━━━━━━━━━━━━━ 45s 36ms/step - loss: 0.9412
Epoch 5/5
1251/1251 ━━━━━━━━━━━━━━━━━━━━ 22s 17ms/step - loss: 0.7825

In [6]:
test_user_ids = test_df['userId'].values
test_movie_ids = test_df['movieId'].values
test_ratings = test_df['rating'].values

predictions = model.predict([test_user_ids, test_movie_ids], batch_size=64, verbose=1)

rmse = np.sqrt(mean_squared_error(predictions, test_ratings))
mae = mean_absolute_error(predictions, test_ratings)
r2 = r2_score(predictions, test_ratings)

print(f'RMSE: {rmse:.2f}', f'MAE: {mae:.2f}', f'R2: {r2:.2f}')

313/313 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step
RMSE: 1.12 MAE: 0.81 R2: -0.36

In [27]:
def get_best_predictions_for_users(user_ids, model, movie_id_mapping, movies_df, num_recommendations=50):
    best_predictions = {}
    
    for user_id in user_ids:
        # Create an array of all movie IDs
        all_movie_ids = np.array(list(movie_id_mapping.values()))
        
        # Create an array of the user ID repeated for the number of movies
        user_ids_array = np.array([user_id] * len(all_movie_ids))
        
        # Predict ratings for all movies for the given user
        predictions = model.predict([user_ids_array, all_movie_ids], batch_size=64, verbose=0)
        
        # Get the top N movie indices with the highest predicted ratings
        top_indices = predictions.flatten().argsort()[-num_recommendations:][::-1]
        
        # Map the indices back to movie IDs
        top_movie_ids = [list(movie_id_mapping.keys())[i] for i in top_indices]
        
        # Get the movie titles for the top movie IDs
        top_movie_titles = movies_df[movies_df['id'].astype(str).isin(map(str, top_movie_ids))]['original_title'].values
        
        # Ensure the lengths of top_movie_ids, top_movie_titles, and predictions[top_indices] are the same
        min_length = min(len(top_movie_ids), len(top_movie_titles), len(predictions[top_indices].flatten()))
        top_movie_ids = top_movie_ids[:min_length]
        top_movie_titles = top_movie_titles[:min_length]
        top_predictions = predictions[top_indices].flatten()[:min_length]
        
        # Store the top movie IDs, their titles, and their predicted ratings for the user
        best_predictions[user_id] = pd.DataFrame({
            'movie_ids': top_movie_ids,
            'movie_titles': top_movie_titles,
            'predicted_ratings': top_predictions
        })
    
    return best_predictions

# Example usage:
user_ids = [650]  # Replace with actual user IDs
best_predictions = get_best_predictions_for_users(user_ids, model, movie_id_mapping, movies_df)
best_predictions

{650:     movie_ids                                       movie_titles  \
 0       73290                            Raiders of the Lost Ark
 1        3181                                           Scarface
 2         969                                Mission: Impossible
 3        3030                                    Horrible Bosses
 4         318                                      Before Sunset
 5        3462                               Sleepless in Seattle
 6        1939                                          Backdraft
 7        2924                                       Frankenstein
 8        7075                                              Laura
 9          85                                     Stomp the Yard
 10      86882                           The Million Dollar Hotel
 11       7502                                              Dread
 12        858  Shriek If You Know What I Did Last Friday the ...
 13      27846                                          Baise-moi
 14       1212                                     Urban Explorer
 15       1193               Confession of a Child of the Century
 16       4103                                   End of the World

     predicted_ratings
 0            4.732871
 1            4.692942
 2            4.665102
 3            4.638840
 4            4.636364
 5            4.597427
 6            4.557642
 7            4.520934
 8            4.483932
 9            4.455853
 10           4.455190
 11           4.452798
 12           4.442741
 13           4.432067
 14           4.431914
 15           4.417721
 16           4.416930  }

# 99. Old